@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between; 
  align-items: center;
  height: auto;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-grow: 1;

}

.footer {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  width: 100%;
  background-color: lightgrey;
  justify-content: space-between;
  align-items:flex-end ;
}
ul{
  list-style: none;
  padding: 0;
}
li {
  font-family: Roboto, sans-serif;
  font-weight: 400;

  
}
a {
  text-decoration: none;
  color: gray;
}

.left-links{
  display: flex;
  align-items: space-between;
  margin-left: 15px;
  gap: 16px;
}
.right-links{
  display: flex;
  margin-right: 15px;
  gap: 16px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 12px;
  cursor: pointer;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
