body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-self: stretch;
  flex:1;
}
.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.cards{
  display: flex;
  gap: 24px;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  align-items: stretch;
  box-sizing: border-box;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  min-width: 300px;
  background: royalblue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 20px;
  color: white;
  justify-content: space-between;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  max-width: 300px;
  min-height: 200px;
  margin: 20px;
  display: flex;
  flex: 0 0 calc(33.33% - 24px); 
}
ul{
  list-style: none;
  padding: 10px;
}
li{
  margin-bottom: 8px;
  color: white;
}
a{
  color: white;
  text-decoration: none;
}